body{
    background-color: khaki;
    font-family: cursive;
}

h1{
    color: darkorange;
    font-family: Georgia;
}

p{
    color: blue;
}

a{
    color: crimson;
}

h3{
    font-weight: bold;
    font-style: italic;
    color: aqua;
}

ul{
    color:blue;
}

ol{
    color:blue;
}

